numpy
pandas
geopy

with st.form(key='local_finder'):
    col1, col2 = st.beta_columns([1, 2])
    with col1:
        numb = st.number_input('Numéro de rue :')
    with col2:
        street = st.selectbox('Selectionnez la rue', flpm['Nom voie (Adresse du local)'])
    submit = st.form_submit_button('Rechercher')